[submodule "GEOS-Chem"]
	path = GEOS-Chem
	url = https://github.com/ACMG-CH4/geos-chem.git
[submodule "PostprocessingScripts/CH4_TROPOMI_INV"]
	path = PostprocessingScripts/CH4_TROPOMI_INV
	url = git@github.com:ACMG-CH4/CH4_TROPOMI_INV.git
