## IMI configuration file
## Documentation @ https://integrated-methane-inversion.readthedocs.io/en/latest/getting-started/imi-config-file.html

## General
RunName: "Test_Permian_1week"
isAWS: true
UseSlurm: true

## Period of interest
StartDate: 20180501
EndDate: 20180508
SpinupMonths: 1

## Region of interest
##   Note: nested region ([lat],[lon]) bounds are: 
##      NA ([10,70],[-140,-40]) 
##      AS ([-11,55],[60,150]) 
##      EU ([33,61],[-30,70]) 
##   These lat/lon bounds will only be used if CreateStateVectorFile: true
LonMin: -105
LonMax: -103
LatMin: 31
LatMax: 33
##   Select nesting window (NA, EU, or AS)
REGION: "NA"

## State vector
CreateStateVectorFile: true
nBufferClusters: 8
BufferDeg: 5
LandThreshold: 0.25

## Custom state vector
StateVectorFile: "optional/path/to/statevectorfile.nc"
ShapeFile: "optional/path/to/shapefile.shp"
LonMinCustomStateVector: -110
LonMaxCustomStateVector: -100
LatMinCustomStateVector: 25
LatMaxCustomStateVector: 35

## Inversion
PriorError: 0.5
ObsError: 15
Gamma: 0.25
PrecomputedJacobian: false

## Grid
##   Select "0.25x0.3125" and "geosfp", or "0.5x0.625" and "merra2"
Res: "0.25x0.3125"
Met: "geosfp"
##   Other grid settings
HalfPolar: "F"
Levs: "47"
NestedGrid: "T"
Buffer: "3 3 3 3"

## Setup modules
##   Turn on/off different steps in setting up the inversion 
SetupTemplateRundir: true
SetupSpinupRun: false
SetupJacobianRuns: false
SetupInversion: false
SetupPosteriorRun: false

## Run modules
##   Turn on/off different steps in performing the inversion
RunSetup: true
DoSpinup: false
DoJacobian: false
DoInversion: false
DoPosterior: false

## IMI preview
DoPreview: true
DOFSThreshold: 0

## ======================================================================
## Specific to Harvard's Cannon cluster
## ======================================================================

## Compute resources to request
nCPUs: 16
partition: "huce_cascade"